/*** BACKGROUND - START PAGE ***/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa';
  background: url("./images/coffeeshop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

/*** START DISPLAY ***/

header p {
	font-size: 15px;
	text-align: center;
}

header {
	background-color: rgba(229, 231, 233, 0.7); /* #E5E7E9 */
	padding: 10px;
	border-radius: 15px;
	width: 80%;
	margin: 0 auto;
}

.display-start {
	height: 100vh;
	padding-top: 180px;
	margin-bottom: 40px;
}

h1.logo {
	font-family: 'Sacramento', cursive;
	font-size: 60px;
	text-align: center;
}

form.search-form {
	padding: 15px;
	margin: 0 auto;
  text-align: center;
}

form.search-form input {
	height: 45px;
	width: 250px;
  padding: 10px;
  border: 0px;
	border-radius: 5px;
}

form.search-form input:focus {
  outline: 0;
}

form.search-form button {
	height: 45px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	background: #E5E7E9;
}

form.search-form button:focus {
  outline: 0;
}

form.search-form button:hover {
	background-color: #800020;
	color: white;
  cursor: pointer;
}

/*** RESPONSIVE DESIGN ***/

#map {
  height: 100%;
  position: relative;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E7E9;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-content {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-content {
  padding: 5px 20px 10px 20px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 11px;
  margin-top: 10px;
  cursor: pointer;
}

.body-content p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-bar-form {
  text-align: center;
  padding: 5px;
}

.search-bar-form input {
  font-family: 'Gothic A1', sans-serif;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

.search-bar-form input:focus {
  outline: 0;
}

.search-bar-form button {
	height: 28px;
	width: 100px;
  text-align: center;
	border-radius: 5px;
  margin-left: 5px;
  padding: 8px;
	font-size: 12px;
	background: #E5E7E9;
}

.search-bar-form button:focus {
  outline: 0;
}

.search-bar-form button:hover {
	background-color: #800020;
	color: white;
  cursor: pointer;
}

#business-info a {
  color: black;
}

#business-info .yelp-page {
  color: blue;
}

@media screen and (min-width: 320px) and (max-width: 727px) {

  #map {
    top: 22%;
  }

  #side-bar {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  .search-bar-form input {
    margin-bottom: 5px;
  }

  h1 .business-name {
    margin-bottom: 10px;
  }

  div #business-info {
    width: 250px;
    text-align: center;
    height: auto;
  }

  .business-pic {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .mobile-only {
    display: none;
    transition-timing-function: ease-in;
  }

  i {
    display: none;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
  }

  .down {
    -webkit-transform: rotate(45deg);
    margin-left: 50%;
  }

}

@media screen and (min-width: 640px) and (max-width: 727px) {
	form.search-form button {
		margin-left: 10px;
	}

  .search-bar-form input {
    width: 40%;
  }

}

@media screen and (min-width: 728px) {
  #map {
    width: 70%;
    left: 30%;
  }

  #side-bar {
    width: 30%;
  }

  .text-content {
    padding: 5px 20px 10px 20px;
    font-size: 11px;
    margin-top: 10px;
  }

  .search-bar-form button {
  	margin-top: 8px;
  }

  /*** INFOWINDOW ***/

  div #business-info {
    width: 304px;
  }

  .business-pic {
    width: 100px;
    vertical-align: top;
  }

  .business-name {
    margin: 0 auto;
  }

  .body-content {
    display: inline-block;
    width: 200px;
    padding: 0px 0px 0px 15px;
    margin-top: -13px;
  }

}
