/*** BEGIN DISPLAY - BODY ***/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa';
  background: url("./images/coffeeshop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

/*** START DISPLAY ***/

header p {
	font-size: 15px;
	text-align: center;
}

header {
	background-color: rgba(229, 231, 233, 0.7); /* #E5E7E9 */
	padding: 10px;
	border-radius: 15px;
	width: 80%;
	margin: 0 auto;
}

.display-start {
	height: 100vh;
	padding-top: 200px;
	margin-bottom: 40px;
}

h1.logo {
	font-family: 'Sacramento', cursive;
	font-size: 60px;
	text-align: center;
}

form.search-form {
	padding: 15px;
	margin: 0 auto;
  text-align: center;
}

form.search-form input {
	height: 45px;
	width: 250px;
  padding: 10px;
  border: 0px;
	border-radius: 5px;
}

form.search-form input:focus {
  outline: 0;
}

form.search-form button {
	height: 45px;
	width: 100px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	background: #E5E7E9;
}

form.search-form button:focus {
  outline: 0;
}

form.search-form button:hover {
	background-color: #800020;
	color: white;
  cursor: pointer;
}

/*** INFOWINDOW ***/

div #business-info {
  align-content: center;
  width: 310px;
}


#business-info {
  width: 50%;
  margin-left: 50%;
  left: -70px;
}

.business-pic {
  width: 100px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.business-name {
  margin: 0 auto;
}

.body-content {
  display: inline-block;
  width: 200px;
}

/*** RESPONSIVE DESIGN ***/

#map {
  height: 100%;
  position: fixed;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E7E9;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-content {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 45px;
}

.text-content {
  padding: 5px 20px 10px 20px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 11px;
  margin-top: 10px;
}

.search-bar-form {
  text-align: center;
  padding: 5px;
}

.search-bar-form input {
  font-family: 'Gothic A1', sans-serif;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}

.search-bar-form input:focus {
  outline: 0;
}

.search-bar-form button {
	height: 28px;
	width: 100px;
  text-align: center;
	border-radius: 5px;
  margin-left: 5px;
  padding: 8px;
	font-size: 12px;
	background: #E5E7E9;
}

.search-bar-form button:focus {
  outline: 0;
}

.search-bar-form button:hover {
	background-color: #800020;
	color: white;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 727px) {
  #map {
    top: 50%;
  }

  #side-bar {
    bottom: 50%;
  }
}

@media screen and (min-width: 640px) and (max-width: 727px) {
	form.search-form button {
		margin-left: 10px;
	}

  .search-bar-form input {
    width: 40%;
  }
}

@media screen and (min-width: 728px) {
  #map {
    width: 70%;
    left: 30%;
  }

  #side-bar {
    width: 30%;
  }

  .text-content {
    padding: 5px 20px 10px 20px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 11px;
    margin-top: 10px;
  }

  .search-bar-form button {
  	margin-top: 8px;
  }
}

/* fixed position for side bar title & search */
/* .title-content {
  position: fixed;
  font-size: 45px;
  padding: 10px;
  margin: 20px 90px 20px 90px;
}

.search-bar-form {
  padding: 70px;
  position; fixed;
  margin-top: 30px;
} */
